.movie_detail{
  display: flex;
  justify-content: center;
  flex-direction: column ;
  align-items: center;
  gap: 20px;
  margin: 15px;
  
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  color: #000;
  
}

.movie_detail_img{
  cursor: pointer;
  width: 85%
}


.movie_detail_genres{
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
  gap: 10px;
}

.movie_detail_genres_item{
  background-color: #f0f0f0;
  padding: 10px 10px;
  border-radius: 4px;
  color: #000;
}


.movie_detail_similar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 15px;
  background-color: #e1d7d798;
  width: 100%;
  color: #000;
}

.movie_detail_similar_list{
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.movie_detail_similar_item{
  text-align: center;
}